nav{
    background-color: blue;
     
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none;
    display: inline-block;
    margin-left: 8S00px;
}

li{
    display: inline;
    padding: 0 10px;
}

h1{
    display: inline;
}
